/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}

/* Sidebar styles */
.sidebar {
    width: 100%;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    transition: background-color 0.3s, color 0.3s;
}

.sidebar img {
    width: 50%;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px;
}

.sidebar h2, .sidebar p, .sidebar ul, .sidebar li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar a {
    text-decoration: none;
    color: #333;
}

.sidebar section {
    margin-bottom: 20px;
}

/* Main content styles */
main {
    padding: 20px;
    flex: 1;
    transition: background-color 0.3s, color 0.3s;
}

/* Navigation styles */
nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

nav li {
    margin-bottom: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
}

/* Dark mode styles */
.dark-mode {
    background-color: #333;
    color: #f4f4f4;
}

.dark-mode .sidebar {
    background-color: #444;
    color: #f4f4f4;
}

.dark-mode .sidebar a {
    color: #f4f4f4;
}

.project-details img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
}

/* Media Queries */
@media (min-width: 768px) {
    body {
        flex-direction: row;
    }

    .sidebar {
        width: 33%;
        height: 100vh;
        position: fixed;
        overflow: auto;
    }

    main {
        margin-left: 35%;
    }

    nav ul {
        flex-direction: row;
    }

    nav li {
        margin-right: 10px;
    }
}

@media (max-width: 767px) {
    .sidebar {
        position: relative;
        height: auto;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        margin-bottom: 10px;
    }
}
